body {
  background-color: antiquewhite;
}
td {
  background-color: rgb(201, 232, 236);
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 1px 1px 4px black;
  text-shadow: 1px 1px 3px gray;
  color: rgb(55, 87, 105);
  cursor: pointer;
  font-size: 11px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
} 
table {
  margin: auto;
  border: solid 1px black;
  border-spacing: 5px;
  padding: 10px;
  border-radius: 14px;
  background-color: azure;
  user-select: none;
}
td:hover {
  background-color: rgb(191, 206, 150);
  opacity: 0.4;
}
td.h {
  opacity: 0.1;
}
td.h:hover {
  opacity: 0.6;
}
.ro {
  background-color: rgb(230, 235, 206);
  font-size: 19px;
  cursor: not-allowed;
  font-family: 'Courier New', Courier, monospace;
}
.ro:hover {
  background-color: rgb(230, 235, 206);
}
.null {
  color: rgb(185, 210, 147);
  text-shadow: none;
}